{
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "importOrder": [
    "^next/(.*)$",
    "^[A-Za-z]",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@constants/(.*)$",
    "^@utils/(.*)$",
    "^[./]",
    "^[../]"
  ],
  "importOrderSeparation": true
}
